@media screen and (max-width: 767px){
    
    *{
        box-sizing: border-box;
    }
    
    body{
        margin: 0 auto;
    }

    h1{
        font-weight: 900;
        font-size: 1.5rem;
        font-family: 'Robto',sans-serif; 
    }

    .loader{
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: #fff;
        height: 100vh;
        position: fixed;
        /* inset permet de gérer leposittionnement de manière générale avec top, right, bottom, left */
        inset: 0;
        z-index: 2;
        opacity: 0.8;
        /* ajout de animation-fillmode avec la valeur 'forwards' pour que l'animation conserve la position finale */
        animation: disparaitre 1s ease 2s forwards;
        transform-origin: bottom;
    }

    .loader span{
        font-size: 1.8rem;
        padding-left: 10px;
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
    }

    @keyframes disparaitre {
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(0);
        }
    }

    header{
        position: relative;
    }

    header .logo{
        width: 100%;
        height: 70px;
        box-shadow: 0px 1px 14px 2px rgba(158,158,158,0.75);
        -webkit-box-shadow: 0px 1px 14px 2px rgba(158,158,158,0.75);
        -moz-box-shadow: 0px 1px 14px 2px rgba(158,158,158,0.75);
        border-bottom: 0.5px solid gray;
    }

    header .logo img{
        padding-top: 25px;
        margin-left: 24%; 
        width: 50%;
    }

    header .position{
        display: flex;
        align-items: center;
        background: #EAEAEA;
        height: 50px;
        padding-left: 22%;
    }

    header .position i{
        color: #444444;
        font-size: 1.2rem;
    }

    header .position span{
        font-size: 1.2rem;
        padding-left: 20px;
        font-weight: 700;
        color: #444444;
        font-family: 'roboto', sans-serif
    }

    .reservation h1{
        text-align: center;
        padding-right: 50px;
        padding-left: 50px;
    }

    .reservation p{
        padding-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        font-size: 1.1rem;
        color: #555555;
        margin-top: -20px;
        font-family: 'Roboto', sans-serif
    }

    .reservation button{
        font-family: 'roboto', sans-serif;
        box-shadow: -9px 12px 11px -11px rgba(0,0,0,0.6);
        -webkit-box-shadow: -9px 12px 11px -11px rgba(0,0,0,0.6);
        -moz-box-shadow: -9px 12px 11px -11px rgba(0,0,0,0.6);
        font-weight: 700;
        font-size: 1rem;
        color: #fff;
        border: none;
        margin-left: 75px;
        border-radius: 25px;
        width: 60%;
        height: 48px;
        margin-top: 10px;
        /* background: linear-gradient(#AA5DDC, #E36FDA); */
        background-image: linear-gradient(to top, rgba(147, 86, 220, .9), rgba(255, 121, 218,.9));
        transition: .4s ease;
        
    }

    .reservation button:hover{
        box-shadow: 15px 17px 17px -11px rgba(0,0,0,0.75);
        -webkit-box-shadow: 15px 17px 17px -11px rgba(0,0,0,0.75);
        -moz-box-shadow: 15px 17px 17px -11px rgba(0,0,0,0.75);
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,7,96,1) 0%, rgba(164,21,240,1) 0%, rgba(162,96,219,1) 0%, rgba(37,21,40,1) 0%, rgba(93,45,135,1) 0%, rgba(173,33,182,1) 0%, rgba(201,32,222,1) 0%, rgba(194,136,232,1) 0%, rgba(211,58,215,1) 0%, rgba(205,24,232,1) 0%, rgba(189,62,219,1) 100%, rgba(147,69,226,1) 100%, rgba(162,109,215,1) 100%, rgba(162,113,214,1) 100%);
    }

    .fonctionnement{
        margin-left: 20px;
        margin-top: 90px;
    }

    .fonctionnement .fonctionnement-types{
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        gap: 20px;
        margin-left: 15px;
    }

    .fonctionnement-types .type-row{
        position: relative;
        background: #F6F6F6;
        display: flex;
        align-items: center;
        border-radius: 25px;
        height: 70px;
        box-shadow: -5px 3px 3px 1px rgba(158,158,158,0.50);
        -webkit-box-shadow: -5px 3px 3px 1px rgba(158,158,158,0.50);
        -moz-box-shadow: -5px 3px 3px 1px rgba(158,158,158,0.50);
    }

    .fonctionnement-types .type-row .row svg{
        width: 25px;
        height: 25px;
    }

    .fonctionnement-types .type-row .row svg path{
        fill: #7e7e7e;
    }

    .fonctionnement-types .type-row .row svg:hover path{
        fill: #9356DC;
    }
    
    .fonctionnement-types .type-row:hover{
        background: #F5EDFF;                        
    }


    .fonctionnement-types .type-row .row{
        display: flex;
        align-items: center;
        margin-left: 40px;
        width: 100%;
    }

    .type-row span{
        position: absolute;
        background: #9356DC;
        width: 30px;
        height: 24px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        font-weight: bold;
        padding-top: 10px;
        left: -15px;
        padding-bottom: 25px;
        /* font-family: 'roboto', sans-serif */
    }

    .type-row .row p{
        padding-left: 20px;
        font-size: 1rem;
        font-weight: 900;
        font-family: 'roboto', sans-serif
    }

    .divers-restaurants{
        margin-left: 20px;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }

    .divers-restaurants a{
        cursor: pointer;
        text-decoration: none;
    }

    .divers-restaurants .titre{
        font-size: 1.2rem;
        font-weight: bold;
        font-family: 'roboto', sans-serif
    }

    .divers-restaurants span{
        font-size: 1.1rem;
        padding-left: 10px;
        font-family: 'roboto', sans-serif
    }

    .divers-restaurants .content-box{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .divers-restaurants .content-box .bloc{
        position: relative;
        width: 100%;
        display: block;
        height: 250px;
        background-color: #fff;
        padding: 3px;
        border-radius: 10px;
        transition: .3s ease;
        cursor: pointer;
        box-shadow: -4px 9px 8px 3px rgba(0,0,0,0.1);
        -webkit-box-shadow: -4px 9px 8px 3px rgba(0,0,0,0.1);
        -moz-box-shadow: -4px 9px 8px 3px rgba(0,0,0,0.1);
    }

    /* .divers-restaurants .content-box .bloc .fullheart{
        color: transparent;
        background-image: linear-gradient(to top, rgba(147, 86, 220, .9), rgba(255, 121, 218,.9));
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all .5s ease-in-out;
    } */

    .divers-restaurants .content-box .bloc .fullheart{
        color: transparent;
        background-image: linear-gradient(to top, rgba(147, 86, 220, .9), rgba(255, 121, 218,.9));
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all .3s ease-in-out;
    }

    .divers-restaurants .content-box .bloc .fullheart:hover{
        color: transparent;
        background-image: linear-gradient(to top, rgba(147, 86, 220, .9), rgba(255, 121, 218,.9));
        background-clip: text;
        -webkit-background-clip: text;     
        opacity: 1;
    }

    .divers-restaurants .content-box .bloc i{
        position: absolute; 
        font-size: 2rem;
        left: 80%;
        transform: translateY(-50%);
    }
    
    /* .divers-restaurants .content-box .bloc .fullheart:hover{
        color: green;
        background-image: linear-gradient(to top, rgba(147, 86, 220, .9), rgba(255, 121, 218,.9));
        background-clip: text;
        -webkit-background-clip: text;   
        opacity: 1;
    } */

    /* .divers-restaurants .content-box .bloc .fullheart:hover path{
        fill: #BA63BD;
    }

    .divers-restaurants .content-box .bloc svg{
        position: absolute; 
        width: 30px;
        height: 30px;
        left: 80%;
        transform: translateY(-50%);
    } */

    #left-part #content-box .bloc:hover{
        box-shadow: 20px 20px 20px rgb(0, 0, 0, 0.06);
    }

    .divers-restaurants .content-box .bloc img{
        object-fit: cover;
        width: 100%;
        height: 75%;
        border-radius: 10px 10px 0 0;
    }

    .divers-restaurants .content-box .bloc .new{
        position: absolute;
        background-color: #99E2D0;
        width: 100px;
        padding: 8px;
        height: 35px;
        top: 20px;
        left: 60%;
        text-align: center;
        font-family: 'roboto', sans-serif;
        color: #129172;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 4px;
    }

    footer{
        background: #353535;
        margin-top: 60px;
        color: #fff;
        padding-left: 20px;
        padding-top: 30px;
        height: 100%;
        padding-bottom: 20%;    
    }

    footer #title{
        font-size: 1.8rem;
        font-family: 'shrikhand', sans-serif;
        font-weight: 800;
    }

    footer .content{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 7px;
    }

    footer .content span{
        font-family: 'Roboto',sans-serif; 
        font-size: 1.5rem;
    }
    
    footer .content .box span{
        padding-left: 20px;
        padding-left: 10px;
    } 

    .content .box #spoon{
        margin-left: 5px;
    }

    footer a{
        text-decoration: none;
        color: #fff;
        font-family: 'Roboto',sans-serif; 
        font-size: 1.5rem;
    }
}